<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
</nav>
<div fxLayoutAlign="center start " fxFlexFill class="main-div">
    <mat-card fxFlex="55">
        <mat-toolbar>
            <span>Test Form</span>
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="orderForm" (submit)="submit()">
            <!----------------------------------------------------------------------->
            <mat-card fxFlex="45" style="background-color: rgb(234, 223, 238);">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <input matInput class="form-control" formControlName="enonce" placeholder="énoncé">
                        </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <div formArrayName="items" *ngFor="let item of item.controls ; let i = index ">
                    <div [formGroupName]="i" class="form-row">
                        <mat-form-field style="width:50% !important;">
                            <input matInput class="form-control" formControlName="proposition"
                                placeholder="proposition">
                        </mat-form-field>
                        <div class="col">
                            <br><br>
                            
                            &nbsp;&nbsp;&nbsp; 
                            <mat-checkbox formControlName="isTrue">True</mat-checkbox>
                        
                        <div class="form-group col-12 text-right" *ngIf="i>0">
                            <button mat-raised-button (click)="removeContact(i)"
                                style="background-color: #eb2f06;"><mat-icon>remove_circle_outline</mat-icon></button>
                        </div>
                    </div>
                    </div>
                </div>
            </mat-card>
            <br><br>
            <div class="card-footer text-center">
                <button mat-raised-button (click)="addItem()"
                    style=" position: absolute; background-color: beige; right: 25px; top: 960 px;">
                    <mat-icon>add</mat-icon>

                </button>
                <br><br>
                <button mat-raised-button style="background-color: #4f695a; bottom: 10px ; " type="submit">Submit
                </button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button style=" bottom: 10px ;">Reset </button>
            </div>
        </form>
    </mat-card>
</div>