<div class="back">
  <div class="row align-items-center">
    <div class="mt-5 col text-style justify-content-center">
      <h2 class="justify-content-center">Online evaluation plateform.<br> improve your self using our open source
        plateforme.
      </h2>
      <strong class = "text-style-color"><br><br><br>“The expert at anything was once a beginner.” – Helen Hayes </strong>
    </div>
    <div class="mt-5 col">
      <video width="600" controls>
        <source src="mov_bbb.mp4" type="video/mp4" />
        <source src="mov_bbb.ogg" type="video/ogg" />
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
  <div class="row mt-5 justify-content-center blue">
    <button mat-raised-button (click)="openDialog()">let's start</button>
  </div>
</div>