.mat-button {
    margin-right:1%;
    color: #07180a;
  }
  .mat-toolbar {
    
    color:green !important;
  }
  .example-spacer{
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 14px;
  }
  .primary-blue .mat-primary {
    background: #0da4fcef !important;
    color: #fff;
  }
  .primary-tr .mat-primary {
    background: #4bb4dd00 !important;
    color: #fff;
  }