<mat-card class="mat-elevation-z12" style="width: 50%; height: 70%;">
    <mat-card-title style="text-align:center;">Login / Registration</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Login">
        <mat-card-content style="margin-top: 20px;" >
          <form  [formGroup]="orderForm1" (submit)="submit()">
            <mat-form-field>
              <input matInput placeholder="Email" class="form-control" formControlName="email" >
              <!--<mat-error *ngIf="email.invalid">Email is required</mat-error>-->
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" class="form-control" formControlName="password">
              <!--<mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>-->
              <!--<mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>-->
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button mat-raised-button color="primary" class="login-button" type="submit">
              Login
            </button>
  
           
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Register">
        <mat-card-content>
          <form [formGroup]="orderForm2" (submit)="submit2()" >
            <mat-form-field>
              <input matInput placeholder="User Name" required name="username" class="form-control" formControlName="username"  >
              <mat-icon matSuffix>perm_identity</mat-icon>
             <!-- <mat-error *ngIf="username.invalid">
                Username is required
              </mat-error> -->
  
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" required name="email" class="form-control" formControlName="email2">
             <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error>-->
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password" class="form-control" formControlName="password2">
              <!--<mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>-->
              <mat-icon matSuffix>lock</mat-icon>
  
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="repassword" class="form-control" formControlName="repassword">
              <!--<mat-error *ngIf="repassword.errors && repassword.errors.required">
                Re-Enter Password is required
              </mat-error>-->
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>