<br>
<h2>Test Form</h2>

<form [formGroup]="testForm" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label>Category
      <mat-form-field>
        <mat-select placeholder="select category" formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>
    <label>Add questions
      <mat-form-field>
        <mat-select placeholder="select question">
          <mat-option *ngFor="let quest of listQuestion" [value]="quest" (click)="setExistQuestions(quest)">
            {{quest.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </label>
  </div>
  <div class="form-group">
    <label for="name">test</label>
    <input type="text" id="name" class="form-control" placeholder="title" name="title" formControlName="title" required>
    <label for="name">description</label>
    <input type="text" id="name" class="form-control" placeholder="description" name="title"
      formControlName="description">

  </div>
  <div formArrayName="questions">
    <div style="margin-top:5px; margin-bottom:5px;"
      *ngFor="let question of userFormGroups.controls; let i=index">
      <div> 
        <mat-card class="mystyle">
          <mat-card-header class = "form-inline">
              <h6 class = "mr-auto">{{i+1}} ) {{question.value.title }}</h6> 
              <button mat-icon-button type="button" class=" ml-auto" (click)="deleteQuestion(i)">
              <mat-icon [inline]="true" class="mat-icon-resize">clear</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>
            <div [formGroupName]="i">
              <div class="form-inline ">

                <label>Category
                  <mat-form-field>
                    <mat-select placeholder="select category" formControlName="subCategory">
                      <mat-optgroup *ngFor="let category of categories" [label]="category.title"
                        [disabled]="category.enable">
                        <mat-option *ngFor="let subCategory of category.subCategories" [value]="subCategory">
                          {{subCategory.title}}
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field></label>
                <label>Score: <input type="number" class="form-control-sm input-sm" id="score" placeholder="0"
                    name="score" formControlName="score" style="margin-right:5px;" min=1 max=6 required></label>
                <label>level: <input type="number" class="form-control-sm input-sm" id="level" placeholder="0"
                    name="level" formControlName="level" style="margin-right:5px;" min=1 max=6 required></label>
                <label>time(Sec): <input type="number" class="form-control-sm input-sm" id="duration" placeholder="0"
                    name="time" formControlName="maxTime" style="margin-right:5px;" min=5 max=90 required></label>
              </div>
              <br>
              <div class="form-inline">
                <div class="form-group">
                  <label style="margin-right:80px;" class="col-form-label" for="question">question</label>
                  <input type="text" class="form-control" id="name" placeholder="question" name="type"
                    formControlName="title" style="margin-right:5px;" required>
                  <button style="margin-right:5px;" type="button" class="btn btn-success btn-sm" align="end"
                    (click)="addNewProposition(question.controls.propositions)">
                    <div class="icon">
                      <mat-icon [inline]="true">add</mat-icon>
                    </div>
                  </button>


                </div>
              </div>
              <div class="form-inline">
                <div class="form-group">
                  <div formArrayName="propositions">
                    <div style="margin-top:5px; margin-bottom:5px;"
                      *ngFor="let lines of question.get('propositions').controls; let j=index">
                      <div [formGroupName]="j">
                        <div class="form-check">
                          <label style="margin-right:75px;" class="col-form-label" for="emailId">Proposition
                            {{j + 1}}</label>
                          <input formControlName="title" class="form-control" style="margin-right:5px;" type="text"
                            placeholder="proposition" id="name" name="address" />
                          <label style="margin-right:5px;" class="col-form-label" for="emailId">isTrue
                          </label>
                          <input formControlName="isTrue" class="form-check-input" id="materialUncheckedDisabled"
                            style="margin-right:5px;" type="checkbox" name="address" />
                          <button style="margin-right:5px;" type="button" class="btn btn-danger btn-sm"
                            (click)="deleteproposition(question.controls.propositions, j)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true">x</span>
                          </button>



                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container col-md-3">
    <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm"
      (click)="addNewQuestion()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New question
    </button>
  </div>


  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-basic">Cancel</button>
</form>