<!--

<div *ngIf='terminated'>End Of exam thanks</div>
<div *ngIf="question['id']&&!terminated">
  <nav aria-label="Page navigation example">
    <div class="container col-md-10 offset-md-10">
      <h1 style="font-family:Roboto">{{timeLeft}}</h1>
    </div>
  </nav>

  <form (ngSubmit)="getNextQuestion()">

    <div>
      <mat-card class="mystyle">

        <h5>{{question.title}}</h5> <br>
        <h5>{{question.candidatLevel}}</h5>
        <div class="form-check">
          <div *ngFor="let proposition of question.propositions;let p=index">
            <div class="container">
              <label style="margin-right:5px;" class="col-form-label" [for]=proposition.id> <input
                  class="form-check-input" [id]=proposition.id type="checkbox" name="address"
                  (click)="cheked(proposition.id)" [checked]=proposition.isTrue /> {{proposition.title}}
              </label>
            </div>
          </div>
        </div>


        <button style="margin-right:5px;" type="submit" class="btn btn-success btn-cercle btn-sm">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit
        </button>
      </mat-card>
    </div>
  </form>
</div>
-->