.btn-info{
    background-color:rgb(9, 194, 185);
     border-color: transparent;
     box-shadow:-5px -2px 5px #000000;
     margin-left: 10px;
    }
    .bm--card-equal-height {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
     }